<a href="https://colab.research.google.com/github/prasetyatf/Exploratory-Data-Analysis/blob/main/EDA_tau_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import beberapa library
import scipy, itertools, pandas as pd, matplotlib.pyplot as plt, seaborn as sns, numpy as np
from scipy import stats
from sklearn.preprocessing import StandardScaler, MinMaxScaler

plt.style.use('bmh'); sns.set()

In [2]:
try:
  price = pd.read_csv('drive/MyDrive/data/price.csv')
except:
  !mkdir drive/MyDrive/data#buat dir
  !wget -P drive/MyDrive/data/ https://raw.githubusercontent.com/taufikedys/taudata-Indonesia/master/data/price.csv#download file
  price = pd.read_csv('drive/MyDrive/data/price.csv')#load ke ram

In [3]:
print(type(price))#cek tipe data
price.head(5) #melihat bagaian atas data

<class 'pandas.core.frame.DataFrame'>

   Observation  Dist_Taxi  Dist_Market  ...  City_Category  Rainfall  House_Price
0            1     9796.0       5250.0  ...          CAT B       530      6649000
1            2     8294.0       8186.0  ...          CAT B       210      3982000
2            3    11001.0      14399.0  ...          CAT A       720      5401000
3            4     8301.0      11188.0  ...          CAT B       620      5373000
4            5    10510.0      12629.0  ...          CAT B       450      4662000

[5 rows x 10 columns]

In [4]:
price.tail(6)# melihat 6 bagian bawah data

     Observation  Dist_Taxi  Dist_Market  ...  City_Category  Rainfall  House_Price
930          931    15082.0      14700.0  ...          CAT B       770      9661000
931          932     9297.0      12537.0  ...          CAT C      1110      5434000
932          933    10915.0      17486.0  ...          CAT C      1220      7062000
933          934     9205.0      10418.0  ...          CAT A       560      7227000
934          935    10915.0      17486.0  ...          CAT C      1220      7062000
935          936    10915.0      17486.0  ...          CAT C      1220      7062000

[6 rows x 10 columns]

In [5]:
price.sample(5)#melihat data scr acak

     Observation  Dist_Taxi  Dist_Market  ...  City_Category  Rainfall  House_Price
261          262     6382.0       6892.0  ...          CAT B       620      4605000
642          643     7570.0      11481.0  ...          CAT C       930      3118000
109          110     4446.0       9575.0  ...          CAT A      1170      8908000
732          733     4101.0      13623.0  ...          CAT B       480      4951000
305          306     9242.0      13331.0  ...          CAT C      -110      3275000

[5 rows x 10 columns]

In [6]:
price.columns#perintah tdk menggunakan tanda "()" ==> properties

Index(['Observation', 'Dist_Taxi', 'Dist_Market', 'Dist_Hospital', 'Carpet',
       'Builtup', 'Parking', 'City_Category', 'Rainfall', 'House_Price'],
      dtype='object')

In [7]:
price.drop("Observation", axis=1, inplace=True)#drop itu menghapus, axis=1 itu kolom, axis=0 itu baris, inplace itu copy memory berguna kl big data

In [8]:
price.info()#cek tipe data
#object itu string or mixed(https://pbpython.com/pandas_dtypes.html). (salah tipe data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Dist_Taxi      923 non-null    float64
 1   Dist_Market    923 non-null    float64
 2   Dist_Hospital  935 non-null    float64
 3   Carpet         928 non-null    float64
 4   Builtup        921 non-null    float64
 5   Parking        936 non-null    object
 6   City_Category  936 non-null    object
 7   Rainfall       936 non-null    int64
 8   House_Price    936 non-null    int64
dtypes: float64(5), int64(2), object(2)
memory usage: 65.9+ KB

In [9]:
price['Parking'] = price['Parking'].astype('category')
price['City_Category'] = price['City_Category'].astype('category')
price.dtypes

Dist_Taxi         float64
Dist_Market       float64
Dist_Hospital     float64
Carpet            float64
Builtup           float64
Parking          category
City_Category    category
Rainfall            int64
House_Price         int64
dtype: object

In [10]:
price.shape
price.duplicated().sum()#cek apa ada data duplikat

4

In [11]:
price.drop_duplicates(inplace=True)#mnghapus duplikat
price.duplicated().sum()

0

In [12]:
price_num=price.select_dtypes(include=['float64','int64'])#memilih var berdasar tipe data float dan int
price_num.head()

   Dist_Taxi  Dist_Market  Dist_Hospital  ...  Builtup  Rainfall  House_Price
0     9796.0       5250.0        10703.0  ...   1961.0       530      6649000
1     8294.0       8186.0        12694.0  ...   1752.0       210      3982000
2    11001.0      14399.0        16991.0  ...   1609.0       720      5401000
3     8301.0      11188.0        12289.0  ...   1748.0       620      5373000
4    10510.0      12629.0        13921.0  ...   2111.0       450      4662000

[5 rows x 7 columns]

In [13]:
price_cat = price.select_dtypes(include = ['category'])#memilih var2 kategori
price_cat.head()

        Parking City_Category
0          Open         CAT B
1  Not Provided         CAT B
2  Not Provided         CAT A
3       Covered         CAT B
4  Not Provided         CAT B

In [14]:
df = pd.get_dummies(price['Parking'], prefix='Park')#mengubah var kategori ke dummy
df.head()

   Park_Covered  Park_No Parking  Park_Not Provided  Park_Open
0             0                0                  0          1
1             0                0                  1          0
2             0                0                  1          0
3             1                0                  0          0
4             0                0                  1          0

In [15]:
df2 = pd.concat([price, df], axis=1)#menggabungkan var2 dummies ke tabel awal
df2.head().transpose()

                         0             1             2        3             4
Dist_Taxi           9796.0        8294.0       11001.0   8301.0       10510.0
Dist_Market         5250.0        8186.0       14399.0  11188.0       12629.0
Dist_Hospital      10703.0       12694.0       16991.0  12289.0       13921.0
Carpet              1659.0        1461.0        1340.0   1451.0        1770.0
Builtup             1961.0        1752.0        1609.0   1748.0        2111.0
Parking               Open  Not Provided  Not Provided  Covered  Not Provided
City_Category        CAT B         CAT B         CAT A    CAT B         CAT B
Rainfall               530           210           720      620           450
House_Price        6649000       3982000       5401000  5373000       4662000
Park_Covered             0             0             0        1             0
Park_No Parking          0             0             0        0             0
Park_Not Provided        0             1             1        0             1
Park_Open                1             0             0        0             0

In [16]:
x = price[['House_Price','Dist_Market']]#memilih var secara manual
x[:7]

   House_Price  Dist_Market
0      6649000       5250.0
1      3982000       8186.0
2      5401000      14399.0
3      5373000      11188.0
4      4662000      12629.0
5      4526000       5142.0
6      7224000      11869.0